.staffInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 40px;
  /* max-width: 1000px;  */
}

.infoBox {
  flex-basis: calc(33% - 5px); /* Chia cột thành 50% với khoảng cách 10px */
  padding: 5px;
  border: 1px solid #b1d3fe;
  box-sizing: border-box;
  border-radius: 12px;
}

.titleInfo {
  position: relative;
}

.hoverText {
  background-color: #f0f0f0;
  color: black;
  padding: 8px 16px;
  border-radius: 4px;
}

.infoBox:hover .hoverText {
  display: block;
}

.infoBox:hover .hoverText:hover {
  cursor: pointer;
}

.titleInfo:hover {
  cursor: pointer;
}

h4 {
  text-align: center;
}

.infoBox p {
  margin-bottom: 0px; /* hoặc bạn có thể đặt giá trị mong muốn tại đây */
}

.infoBox td {
  padding-left: 20px;
}
.infoBox th {
  padding-left: 20px;
  /* padding-bottom: 10px; */
}

.btnDetail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnDetail button {
  border: none;
  border-radius: 24px;
  padding: 10px;
}
