body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Nếu bạn muốn tránh thanh cuộn */
}

* {
  text-decoration: none;
}

.row {
  display: flex;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* responsive */
@media (max-width: 900px) {
  .col-sm-2 {
    display: none;
    height: 100%;
  }

  .faBars {
    display: block;
    padding: 7px 10px;
    border: none;
    background-color: #644bff;
    color: white;
  }

  .content.col-sm-10 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 901px) {
  .faBars {
    display: none; /* Hide the faBars icon */
  }
}

/* Custom styles for the sidebar dialog modal */
.sidebar-dialog {
  width: 25%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-content {
  height: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.modal-body {
  flex: 1;
  padding: 0;
  overflow-y: auto;
}

/* ----------- */

.content-header {
  height: 3rem;
}

.detail-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #644bff;
  color: #fff;
  height: 44px;
}

.back-button-header {
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}

.title-header {
  flex: 1;
  text-align: center;
}

.info-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.info-staff th,
td {
  padding: 8px;
  margin-bottom: 20px;
}

.info-staff td {
  padding-left: 40px;
}

.btn-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  margin-top: 20px;
  color: black;
}

.btn-detail button {
  width: 40%;
  text-align: center;
  background-color: #baeaff;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  font-weight: 700;
}

.btn-detail button:hover {
  background-color: #644cfe;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
}

.form-group input {
  border-radius: 8px;
  border: 1px solid #dbddde;
  padding: 10px;
  width: 50%;
}

.form-group label {
  width: 33%;
}

.form-group .create-acc label {
  width: 20%;
}

.select-part {
  border-radius: 8px;
  align-items: start;
  border: 1px solid #dbddde;
  padding: 3px;
  width: 50%;
}

.edit-idStaff {
  margin: 20px;
  text-align: center;
}

.edit-btn-submit,
.create-btn-submit {
  text-align: center;
}

.edit-btn-submit button,
.create-btn-submit button {
  background-color: #baeaff;
  color: black;
  border-radius: 20px;
  border: none;
  padding: 10px 30px;
  font-weight: 700;
  text-align: center;
}

.empty-account {
  margin: 40px;
}

.create-acc label {
  width: 25%;
}

.update-password label {
  width: 25%;
}
.create-acc input {
  width: 75%;
}
.update-password input {
  width: 75%;
}

.container-center {
  display: grid;
  place-items: center;
  margin-top: 40px;
}

.create-acc-form,
.update-password-form {
  width: 75%;
}

.create {
  margin-top: 40px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
}

/* css kitchen manager */
.header-kitchen {
  display: flex;
  align-items: center;
  background-color: #644bff;
  color: white;
  padding: 3px 20px;
}

.header_kitchen_left,
.header_kitchen_center,
.header_kitchen_right {
  flex: 1; /* Chia đều chiều rộng thành 1/3 */
}

/* Các phần tử con bên trong có thể được tùy chỉnh theo ý muốn */
.header_kitchen_left {
  display: flex;
  align-items: center;
}

.header_kitchen_center {
  text-align: center;
}

.header_kitchen_right {
  display: flex;
  justify-content: end;
}

.header_kitchen_create-button {
  background-color: white;
  color: black;
  border-radius: 24px;
  padding: 7px 20px;
  cursor: pointer;
  border: none;
}

/* css kitchen staff */
.header-kitchen-staff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #644bff;
  color: white;
  padding: 2px 20px;
}

.header_kitchen-staff_left {
  display: flex;
  align-items: center;
}

.header_kitchen-staff_back-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.header_kitchen-staff_center {
  /* flex-grow: 1; */
  text-align: center;
}

.header_kitchen-staff_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  background-color: white;
  color: black;
  padding: 0px 20px;
  border-radius: 24px;
}

.header_kitchen-staff_kitchen-code {
  font-size: 14px;
}

.pagination {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page {
  padding: 0px 40px;
}

.btnSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.advanced-search {
  position: fixed;
  z-index: 1;
  height: 200px;
  width: 280px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: 12px;
}

.advanced-search select {
  padding: 10px 20px;
  border-radius: 8px;
}

.edit-select {
  width: 50%;
  border-radius: 8px;
}
.select-option {
}

.ok-filter {
  margin-top: 10px;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: #644bff;
  color: white;
  border: none;
  margin-right: 2px;
}
.delete-filter {
  margin-top: 10px;
  padding: 5px 12px;
  border-radius: 8px;
  background-color: red;
  color: white;
  border: none;
  margin-left: 2px;
}

.filter-part,
.filter-position {
  width: 140px;
}
